<nav class="flex shadow-lg" [ngClass]="{ isMobile: 'justify-end' }">
  @if (isMobile()) {
  <div class="w-fit">
    <p-button
      class="md:hidden"
      variant="text"
      icon="pi pi-bars"
      aria-label="Menu"
      (onClick)="handleDrawer()"
    />
  </div>
  } @else {
  <div class="w-fit">
    @for (item of links; track $index) {
    <p-button
      variant="text"
      [label]="item.label"
      (onClick)="handleNavigate(item.path)"
    >
    </p-button>
    }
  </div>
  }
</nav>

@if (isMobile()) {
<p-drawer [(visible)]="isOpen" styleClass="w-[10rem]">
  <ng-template #headless>
    <div >
      <div class="flex justify-end">
        <p-button link icon="pi pi-times" (onClick)="handleDrawer()"></p-button>
      </div>
      <ul>
        @for (item of links; track $index) {
        <li >
          <p-button
            icon="pi pi-arrow-right"
            iconPos="right"
            link
            styleClass="text-lg"
            [label]="item.label"
            (onClick)="handleNavigate(item.path)"
          ></p-button>
        </li>
        }
      </ul>
    </div>
  </ng-template>
</p-drawer>
}
